<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="row">
        <div class="col-md-6 offset-md-3 mt-3">
          <div class="input-group rounded">
            <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
          </div>
        </div>
      </div> -->
      <div class="row" *ngIf="products.length > 0">
        <div class="col-md-4 mb-4" *ngFor="let product of products| search : searchText; let i = index">
          <div class="card" (click)="onClick(product.id)">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img class="card-img" [src]="product.image" alt="{{ product.name }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <p class="card-text">${{ product.price }}</p>
                  <div class="mt-auto">
                    <button type="button" class="btn btn-primary btn-block" (click)="onAddcart(product)">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <alert type="info" *ngIf="products.length == 0">
        <strong>No Products Available!</strong> Please Add Products
      </alert>
    </div>
  </div>
</div>
